body {
  font-family: 'Georgia', serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  padding: 20px;
  background-color: #b8dcfa;
  box-shadow: 0 2px 10px rgba(15, 12, 12, 0.1);
}

header img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

header h1 {
  margin: 0;
  padding: 0;
  color: #ca2727;
  animation: color-change 5s infinite;
  font-size: 46px; /* Increase font size */

    font-size: 50PX;
    margin-bottom: 0.5rem;
    -webkit-text-stroke: 1px black; /* Add black border around text */
    color: #fff; /* Set text color to white */


}

@keyframes color-change {
  0% { color: #eb4747; }
  20% { color: #27ca77; }
  40% { color: #c1da1c; }
  60% { color: #e327ca; }
  80% { color: #27cae3; }
  100% { color: #ca2727; }
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  background-color: #a0d0f8;
  box-shadow: 0 2px 5px rgba(43, 31, 218, 0.1);
  font-size: 16px; /* Increase font size */
  font-weight: bold; /* Make text bold */
}

nav li {
  margin-right: 20px;
  padding: 3px;
  padding-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: #ca2727;
  position: relative;
  padding: 10px;
  transition: transform 0.3s;
  text-align: center;
}

nav a:before {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5eff1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

nav a:hover:before {
  transform: scaleX(1);
}

nav a:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

main {
  padding: 20px;
}

.product-buttons {
  display: flex;
  justify-content: space-between;
}

.product-button {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.product-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

footer {
  padding: 20px;
  background-color: #ec6fbc;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: rgb(13, 15, 14);
}

nav a:hover::after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  padding: 2px 5px;
  background-color: #f5efef;
  border: 1px solid #141414;
  border-radius: 5px;
}
#sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #f5f5f5;
  border-right: 1px dotted #ccc;
  padding: 20px;
  transition: left 0.3s ease-out;
}

#sidebar.open {
  left: 0;
}

#sidebar-toggle {
  display: none;
}

@media (max-width: 768px) {
  #sidebar {
    left: 0;
  }

  #sidebar-toggle {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}